<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>cn.itcast.servlet.AddUser</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RemoveObstacle_phone</servlet-name>
    <servlet-class>cn.itcast.servlet.RemoveObstacle_phone</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddObstaclePhone</servlet-name>
    <servlet-class>cn.itcast.servlet.AddObstaclePhone</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetRank</servlet-name>
    <servlet-class>cn.itcast.servlet.GetRank</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/servlet/AddUser</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>RemoveObstacle_phone</servlet-name>
    <url-pattern>/servlet/RemoveObstacle_phone</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddObstaclePhone</servlet-name>
    <url-pattern>/servlet/AddObstaclePhone</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetRank</servlet-name>
    <url-pattern>/servlet/GetRank</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
